<% include partials/header %>

<section class="container campgrounds-section">
  <header class="jumbotron">
      <div class="container">
        <h1>Welcome to Birdville</h1>
        <p>A Place for All things Bird</p>
        <p>
          <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
        </p>
      </div>
  </header>

  <div class="row">
    <div class="col-lg-12">
      <h3>Most Sighted Birds</h3>
    </div>
  </div>

  <div class="row img-container">
    <% campgrounds.forEach(function(campground) { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img class="img-responsive" src=<%= campground.image %> />
          <div class="caption">
              <h3> <%= campground.name %> </h3>
          </div>
        </div>
      </div>
    <% }) %>
    <a href="/">Home</a>
  </div>
</section>

<% include partials/footer %>
