<% include partials/header %>

<section class="container home-section">
  <div class="container">
    <header class="jumbotron">
        <div class="container">
          <h1>Welcome to Birdville</h1>
          <p>A Place for All things Bird</p>
          <p>
            <a style="font-weight:700" class="btn btn-large" href="/birds">View All Birds</a>
          </p>
        </div>
    </header>
  </div>
</section>
<% include partials/footer %>
