<% include partials/header %>

<section class="container form-section">
  <div class="row">
    <h1>Add a New Bird</h1>
    <div class="form-container">
      <form action="/birds" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="English name" name="englishName" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Scientic name" name="scientificName" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Preview Image Url" name="prevImage" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Audio Url" name="audio" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Description" name="description" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Kingdom" name="kingdom" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Phylum" name="phylum" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Class" name="className" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Order" name="order" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Family" name="family" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Genus" name="genus" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Species" name="species" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Distribution" name="distribution" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="LongDescription" name="longDescription" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Behaviour" name="behaviour" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Breeding" name="breeding" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Ecology" name="ecology" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Taxonomy" name="taxonomy" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Image 01" name="img01" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Image 02" name="img02" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Image 03" name="img03">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Image 04" name="img04">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Video 01" name="vid01" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Video 02" name="vid02" required>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Video 03" name="vid03">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Video 04" name="vid04">
        </div>
        
        <div class="form-group">
          <button class="btn btn-large btn-block">Submit!</button>
        </div>
      </form>
      <a class="lnk" href="/birds"> <i style="font-size: 19px; width: 30px" class="fa fa-arrow-left"></i> Go Back</a>
    </div>
  </div>
</section>

<% include partials/footer %>
