<% include partials/header %>
    <div class="container show-section">
        <div class="row">
            <header class="jumbotron">
                <div class="container">
                    <h1><%= bird.englishName %></h1>
                    <h3> ( <%= bird.scientificName %> ) </h3>
                </div>
            </header>
        </div>
        <section class="row">
            <aside class="col-lg-4 sidebar">
                <img class="img-responsive" alt="" src=<%= bird.prevImage %> />
            </aside>
            <div class="col-lg-7 col-lg-push-1 info">
                <h4>Description </h4>
                <p><%= bird.description %></p>
            </div>
        </section>
        <section class="row">
            <div class="col-lg-12 info">
            
            </div>
        </section>
        <a class="lnk" href="/birds"> <i style="font-size: 19px; width: 30px" class="fa fa-arrow-left"></i> Go Back</a>
    </div>
<% include partials/footer %>