<% include partials/header %>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1><%= birds.englishName %></h1>
                <p>A Place for All things Bird</p>
                <p>
                <a class="btn btn-primary btn-large" href="/birds/new">Add New Bird</a>
                </p>
            </div>
        </header>
        <a href="/birds">Go back</a>
    </div>
<% include partials/footer %>