.home-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    .jumbotron {
        background: rgba(20, 20, 20, 1);
        color: rgba(180, 180, 180, 1);
        .container {

        }
    }
}